<div class="ne-filter">
    <div class="col serachConn"  id="serachConn" >
        <filter-check [myCheck]="countItem" (filterStateChange)="setMyFilterStyle($event)"></filter-check>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-ms-12 col-xs-12" *ngIf="countItemState.userLabel">
                <label class="control-label filter-label" for="userLabel">名称:</label>
                <input type="text" class="form-control filter-input" id="userLabel"  required>
            </div>
            <div class="col-lg-2 col-md-2 col-ms-12 col-xs-12"  *ngIf="countItemState.neFamily">
                    <select name="" id="">
                        <option value="a">a</option>
                        <option value="b">b</option>
                        <option value="c">c</option>
                    </select>
            </div>
            <div class="col-lg-2 col-md-2 col-ms-12 col-xs-12" *ngIf="countItemState.type">
                   <select name="" id="">
                        <option value="type1">type1</option>
                        <option value="type2">type2</option>
                        <option value="type3">type3</option>
                    </select>
            </div>
        </div>
    </div>

</div>
